<launch>
  <arg name="model" default="/home/yh/catkin_ws/src/moving_robot/urdf/moving_robot.urdf" />
  <arg name="gui" default="True" />
  <param name="robot_description" textfile="$(find moving_robot)/urdf/moving_robot.urdf" />
  <param name="use_gui" value="true"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find moving_robot)/urdf.rviz" required="True" />
</launch>
